Django==1.11.29
certifi==2017.7.27.1
chardet==3.0.4
chartkick==0.5.0
defusedxml==0.5.0
dj-database-url==0.4.2
django-widget-tweaks==1.4.1
djangorestframework==3.7.0
gunicorn==19.7.1
idna==2.6
numpy==1.13.3
oauthlib==2.0.4
pandas==0.20.3
psycopg2==2.7.3.1
python-dateutil==2.6.1
python3-openid==3.1.0
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
urllib3==1.22
whitenoise==3.3.0
