{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}
{% block content %}
<div class="col-md-4">
</div>
<div class="col-md-4 pt-3">
  <br>
  <div class="form-login">
    <h2>Bem-vindo!</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label>Usuário</label>
        {{ form.username|add_class:"form-control" }}
        <label>Senha</label>
        {{ form.password|add_class:"form-control" }}
      </div>
    <div class="wrapper">
      <span class="group-btn">
        <button class="btn btn-primary btn-md" type="submit">Login</button></br>
      </span>
    </div>
    </form>
  </div>
</div>
<div class="col-md-4">
</div>
{% endblock %}
