{% extends 'base.html' %}
{% load chartkick %}

{% block title %}{{currentSpaceName}}{% endblock %}
{% block content %}
  <br>
  <h1>{{currentSpaceName}}
    <span id="connectionStatus"
        style="font-size: 18px; color: red; vertical-align: middle">
      <i class="fa fa-times-circle" aria-hidden="true"></i>
    </span>
  </h1>

  <div class="row">
    <div class="col-xs-4 col-md-2 col-xs-offset-4 col-md-offset-5">
      <h5>Agora,</h5>
      <h1 style="text-align: center; margin-bottom: 5px;
          margin-top: 5px; font-size: 56px">
          <b>
            <span id="insideText">
              <i class="fa fa-spinner fa-pulse fa-fw"></i>
              <span class="sr-only">Loading...</span>
            </span>
          </b>
      </h1>
      <h5 style="text-align: right; margin-top: 0px;">pessoas no espaço</h5>
    </div>
  </div>

  <script>
    function loadPeopleInside() {
      var peopleInside = $.get("{{insideEndpointURL}}", function( data ) {
            $( "#insideText" ).html( data["inside"] );
            var connStatus = $( "#connectionStatus" );
            connStatus.html( '<i class="fa fa-check-circle" aria-hidden="true"></i>' );
            connStatus.css('color', 'green');
          }).fail(function() {
              var connStatus = $( "#connectionStatus" );
              connStatus.html( '<i class="fa fa-times-circle" aria-hidden="true"></i>' );
              connStatus.css('color', 'red');
            });
    };
    loadPeopleInside();
    var timer = setInterval(loadPeopleInside, 60000);
  </script>

  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>

  {% if spaceToRenderAsInt != -1 %}
  <div class="row">
    <div class="col-xs-12 col-md-6" style="margin-top: 15px;">
      <div class="input-group input-daterange">
        <div class="input-group-addon">De</div>
        <input type="text" class="form-control input-picker" value="{{startDate_view}}" id="range-start">
        <div class="input-group-addon">até</div>
        <input type="text" class="form-control input-picker" value="{{endDate_view}}" id="range-end">
      </div>
    </div>
    <div class="col-xs-12 col-md-3" style="margin-top: 15px;">
      <div class="input-group">
        <span class="input-group-addon">Agrupado por</span>
        <select class="form-control" id="groupMode">
          <option value="S" disabled="true" {% if groupMode == "S" %} selected="selected" {% endif %}>Segundo</option>
          <option value="min" disabled="true" {% if groupMode == "min" %} selected="selected" {% endif %}>Minuto</option>
          <option value="H" {% if groupMode == "H" %} selected="selected" {% endif %}>Hora</option>
          <option value="D" {% if groupMode == "D" %} selected="selected" {% endif %}>Dia</option>
          <option value="W" {% if groupMode == "W" %} selected="selected" {% endif %}>Semana</option>
          <option value="M" {% if groupMode == "M" %} selected="selected" {% endif %}>Mês</option>
          <option value="A" {% if groupMode == "A" %} selected="selected" {% endif %}>Ano</option>
        </select>
      </div>
    </div>
    <div class="col-xs-12 col-md-3" style="margin-top: 15px;">
      <a class="btn btn-primary btn-block" onclick="submitFilter()">
        <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
      </a>
    </div>
  </div>

  <script>
    $('.input-picker').each(function() {
      $(this).datepicker({
        format: "dd/mm/yyyy",
        startDate: "01/10/2017",
        todayBtn: "linked",
        language: "pt-BR",
        keyboardNavigation: false,
        forceParse: false,
        todayHighlight: true
      });
    });
  </script>

  <script>
    function getParameterByName(name, url) {
      if (!url) url = window.location.href;
      name = name.replace(/[\[\]]/g, "\\$&");
      var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
          results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
    function submitFilter(){
      var startDate = $('#range-start').val();
      var endDate = $('#range-end').val();
      var groupMode = $('#groupMode').val();
      var filter = { startDate:startDate, endDate:endDate,
            space:getParameterByName("space"),
            groupMode:groupMode};
      var str = jQuery.param( filter );
      window.location.href = "?" + str;
    }
  </script>

  <div class="row center">
    <div class="col-sm-12">
      <br>
      {% area_chart accumulativeEndpointURL with refresh=60 colors=["#0288d1", "#d32f2f"] height='400px' title='Histórico de pessoas no espaço' %}
    </div>
  </div>

  <div class="row center">
    <div class="col-sm-12">
      <br>
      {% column_chart movementsEndpointURL with refresh=60 stacked=True colors=["#0288d1", "#d32f2f"] height='600px' legend='top' %}
    </div>
  </div>

  {% endif %}

  <h2>Sensores</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Visto Por Último</th>
          <th>Espaço</th>
        </tr>
      </thead>
      <tbody>
        {% for sensor in sensors %}
          <tr>
            <td>{{sensor.id}}</td>
            <td>{{sensor.display_name}}</td>
            <td>{{sensor.last_seen}}</td>
            <td>{{sensor.space.display_name}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
